<!DOCTYPE html>
<html lang="en" style="height:100%">
    <head>
        <meta charset="UTF-8"/>
        <title>Account</title>
{#        https://www.w3schools.com/html/html_tables.asp #}
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
        <script>
            async function make_public(route_id, is_public){
                await fetch("/api/post/public_route", {
                        method: "POST",
                        body: JSON.stringify({
                            route_id: route_id,
                            is_public: is_public
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        }
                    }
                );
            }
            async function delete_route(route_id){
                await fetch("/api/post/delete", {
                    method: "POST",
                    body: JSON.stringify({route_id: route_id}),
                    headers: {
                            "Content-type": "application/json; charset=UTF-8"
                    }
                });
                location.reload();
            }
            function open_dialog(route_id){
                document.getElementById(`dialog${route_id}`).show();
                document.getElementById('click-blocker').style.height = "100%";
            }
            function close_dialog(){
                document.getElementById('click-blocker').style.height = "0";
            }
        </script>
        <link rel="stylesheet" href="/static/shared.css">
    </head>
    <body>
        <div style="height: 0;width: 100%;z-index: 100;position:fixed;top:0;left:0;background-color: rgb(0,0,0,0.6);" id="click-blocker"></div>
        <a href="/">Home</a>
        <br>
        <form action="/logout">
            <input type="submit" value="Logout"/>
        </form>
        <br>
        Hello {{ username }}! Found {{ saved_routes|length }} saved routes in account:
        <br>
        <table>
            <th>Route</th>
            <th>Creation Date</th>
            <th>Public?</th>
            <th>Delete?</th>
            {% for route in saved_routes %}
                <tr>
                    <td>
                        <a href="/view/{{ route[0] }}">Link to - {{ route[4] }}</a>
                    </td>
                    <td>
                        {{ route[1] }}
                    </td>
                    <td>
                        <input id={{ "public-checkbox" ~ route[0]}} type="checkbox"/>
                    </td>
                    <td>
                        <button class="red-only-button" onclick="open_dialog({{ route[0] }});">Delete</button>
                    </td>
                    <dialog id="dialog{{ route[0] }}" style="z-index: 100">
                        Are you sure you want to delete {{ route[4] }}?
                        <button class="red-only-button" onclick="delete_route({{ route[0] }});">DELETE</button>
                        <form method="dialog">
                            <button onclick="close_dialog();">CANCEL</button>
                        </form>
                    </dialog>
                    <script>
                        document.getElementById('{{"public-checkbox" ~ route[0]}}').checked = {{ "true" if route[5]==1 else "false"}};
                        document.getElementById('{{"public-checkbox" ~ route[0]}}').addEventListener(
                            "change",
                            (event)=>{make_public({{ route[0] }}, event.target.checked)});

                    </script>
                </tr>
            {% endfor %}
        </table>
        <br>
        Try some popular routes in your region:
        <table>
            <th>Route</th>
            <th>Route creator</th>
            <th>Average route rating</th>
            {% for route in popular_routes %}
                <tr>
                <td>
                    <a href="/view/{{ route[0] }}">Link to - {{ route[2] }}</a>
                </td>
                <td>
                    {{ route[3] }}
                </td>
                <td>
                    {{ route[4] }}/5 - {{ route[5] }} reviews
                </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        Try some random routes in your region:
        <table>
            <th>Route</th>
            <th>Route creator</th>
            <th>Average route rating</th>
            {% for route in random_routes %}
                <tr>
                <td>
                    <a href="/view/{{ route[0] }}">Link to - {{ route[2] }}</a>
                </td>
                <td>
                    {{ route[3] }}
                </td>
                <td>
                    {{ route[4] }}/5 - {{ route[5] }} reviews
                </td>
                </tr>
            {% endfor %}
        </table>    </body>
</html>