<!DOCTYPE html>
<html lang="en" style="height:100%">
    <head>
        <meta charset="UTF-8" />
        <title>Route Planner</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css">
        <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
        <link rel="stylesheet" href="/static/shared.css"/>
        <link rel="stylesheet" href="/static/styles.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body style="height:100%;margin: 0;padding: 0;font-family:'Noto Sans',sans-serif">
        <div id="click-blocker" onclick="hideSettings();" style="height:100%; width: 0; z-index:10000; position:absolute;"></div>
        <div id="map"></div>
        <div id="settings">
            <button class="image-icon-div button" style="grid-column: 5; grid-row: 2" onclick="hideSettings();">
                <img class="image-icon" src="static/back.png" alt="Go back">
            </button>
            <h1 style="grid-column: 2; grid-row: 2">Settings</h1>
            <p style="grid-column: 3; grid-row: 3;">Animation delay for isochrones (ms)</p>
            <input id="isochrone-delay" min="0" max="1000" type="number" style="grid-column: 4; grid-row: 3" />
            <p style="grid-column: 3; grid-row: 4;">Opacity of map highlighting</p>
            <input id="region-opacity" min="0" max="1" step="0.1" type="number" style="grid-column: 4; grid-row: 4" />
            <p style="grid-column: 3; grid-row: 5 / span 2;">
                Distance between calculated region indicators. Smaller distances have higher resolution but are slower to render.
            </p>
            <div style="grid-column: 4; grid-row: 5;">
                <input type="radio" id="partition100" name="partition-distance" value="100"
                       checked="checked">
                <label for="partition100">100m</label>
            </div>
            <div style="grid-column: 4; grid-row: 6;">
                <input type="radio" id="partition500" name="partition-distance" value="500"
                       >
                <label for="partition500">500m</label>
            </div>
            <div style="grid-column: 4; grid-row: 7;">
                <input type="radio" id="partition1000" name="partition-distance" value="1000"
                       >
                <label for="partition1000">1km</label>
            </div>
            <p style="grid-column: 3; grid-row: 8;">Classify shortest paths by time (untick to sort by distance)</p>
            <input type="checkbox" style="grid-column: 4; grid-row: 8;" id="find-shortest-paths-by-time-check-box"/>
            <h1 style="grid-column: 2; grid-row: 9">Statistics</h1>
            <p id="stats-start-location" style="grid-column: 3 / span 2; grid-row: 10;"></p>
            <p id="stats-destination-location" style="grid-column: 3 / span 2; grid-row: 11;"></p>
            <p id="stats-gps-accuracy" style="grid-column: 3 / span 2; grid-row: 12;"></p>
            <button class="text-button" id="default-settings" style="grid-row: 14; grid-column: 3/span 2;"
                    onclick="settings={...defaultSettings};displaySettings();
                    setupConvexHullInputs();generateIsochrone();displayConvexHull();">
                Reset settings to default
            </button>
        </div>
        <div id="bottom-bar" class="control-box">
            <div style="grid-row:2/span 2; grid-column: 2;" class="centred-div-text">
                Set the distance of the walk you want to generate:
            </div>
            <button class="text-button grey-button" id="route-suggestor-button" onclick="suggestRoute();" style="grid-row: 2/ span 2; grid-column: 5;">
                Generate Route
            </button>
            <input type="range" id="walk-generator-slider" min=1 max=100 step=1 style="grid-column: 3/span 2; grid-row: 2"/>
            <input type="number" id="walk-generator-slider-text" min=1 max=100 step=1 style="grid-column: 3; grid-row: 3"/>
            <div style="grid-column: 4; grid-row: 3; font: inherit">km</div>
            <button class="text-button red-only-button" onclick="resetRoute();applyRoute(0);setUrl();" style="grid-row: 2; grid-column: 6;">
                Delete all stops
            </button>
            {% if authenticated_user %}
                 <button class="text-button" id="route-link-copier" onclick="saveShareRoute();" style="grid-row: 3; grid-column: 6;">Save + share route</button>
                 <button class="text-button" id="route-saver" onclick="saveRoute();" style="grid-row: 3; grid-column: 7;">Save route</button>
            {% else %}
                 <button disabled class="text-button" style="grid-row: 3; grid-column: 6;">Login to share routes!</button>
                 <button disabled class="text-button" style="grid-row: 3; grid-column: 7;">Login to save routes!</button>
            {% endif %}
            <input type="text" id="route-name" style="grid-row: 2; grid-column: 7;" maxlength=100 placeholder="Enter route name"/>

        </div>
        <div id="main-controls" class="control-box">
            <div id="search-container">
                <button class="image-icon-div button" id="home-button" onclick="centreMap();">
                    <img class="image-icon" src="/static/home.png" alt="Centre map around markers"/>
                </button>
                <div class="image-icon-div" style="grid-column: 1; grid-row: 2">
                    <img class="image-icon" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png" alt="Start marker">
                </div>
                <div class="image-icon-div" style="grid-column: 1; grid-row: 4">
                    <img class="image-icon red-marker" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png" alt="Destination marker">
                </div>
                <button class="image-icon-div button" onclick="getStartGPSLocation();" style="grid-column: 3; grid-row: 2">
                    <img class="image-icon" src="/static/current-location-icon.png" alt="Set start marker to current location">
                </button>
                <input type="checkbox" id="destination-show-checkbox" style="grid-column: 3; grid-row: 4; height:100%" />
                <input id="start-search" placeholder="" class="search-box" value="" type="search" />
                <input id="destination-search" placeholder="" class="search-box" value="" type="search" />
            </div>
            <div id="convex-hull-slider-box">
                <div class="image-icon-div" style="grid-column: 1; grid-row: 1">
                    <img class="image-icon" src="/static/convex_hull.jpg">
                </div>
                <input type="range" id="convex-hull-slider">
                <input type="checkbox" id="convex-hull-slider-checkbox" style="grid-column: 5; grid-row: 1; height:133%" />
                <input type="number" id="convex-hull-slider-text" min="0" />
                <label id="convex-hull-slider-units">km</label>
            </div>
            <button class="image-icon-div button" style="grid-row: 3" onclick="displaySettings();">
                <img class="image-icon" src="/static/settings.png">
            </button>
        </div>

        {% if authenticated_user %}
             <form action="/account"><input class="text-button account-management-button" id="account-button" type="submit" value="Account"/></form>
        {% else %}
             <form action="/login"><input class="text-button account-management-button" id="login-button" type="submit" value="Login"/></form>
        {% endif %}


 <!--       Note in production environment would probably be all compiled into one minified .js file-->
 <!--       And served from a cdn instead of this server to reduce server load-->
        <script src="/static/functions.js"></script>
        <script src="/static/convex_hull.js"></script>
        <script src="/static/settings.js"></script>
        <script src="/static/page_setup.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>